<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=DESKTOP-VU3SH3M\SQLEXPRESS; database = G02; integrated security = true;"/>
  </connectionStrings>
</configuration>
